/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 10px;
  }
  .logo {
    font-size: 60px;
    font-weight: bold;
    flex-shrink: 0;
  }
  .logoImage {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
  }
  .sign-in {
    width: 90px;
    background-color: #D0EFFF;
    color: black;
    flex-shrink: 0;
  }
  